name: Release Obsidian Plugin

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Create Zip
        run: |
          mkdir weekly-notes
          cp main.js manifest.json weekly-notes/
          zip -r weekly-notes.zip weekly-notes

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            main.js
            manifest.json
            weekly-notes.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
